$background:#e4e4e4;
$padding:20px;
$fontColor:#777;
$hyperlinkHover: rgba(140, 140, 140, .8);
$hyperlinkActive: rgba(140, 140, 140, .4);
$hyperlinkVisited: rgba(140, 140, 140, .4);
$headerColor: #ffff66;
$selectItemHeight:30px;
$marginToggle:45px;
$backgroundSecondary:#ffff66;
$backgroundContent:#fff;
$borderColor:#999;
$solidBackgroundShadow: -3px -3px 5px 0px rgba(140, 140, 140, 0.8),

3px 3px 5px 0px rgba(140, 140, 140, 0.8);
@mixin border($color,$size){
  border:$size solid $color;
}
