$background:#999;
$padding:20px;
$fontColor:#777;
$hyperlinkHover: rgba(140, 140, 140, .8);
$hyperlinkActive: rgba(140, 140, 140, .4);
$hyperlinkVisited: rgba(140, 140, 140, .4);
$headerColor: #ffff66;
$selectItemHeight:30px;
$marginToggle:45px;
$backgroundSecondary:#ffff66;
$backgroundContent:#fff;