.header {
  height: ($padding *2);
  display: flex;
  transition: all 0.5s;
  position: fixed;
  width: 100%;
  border-radius: 6px;
  z-index: 99;
  box-shadow: $solidBackgroundShadow;
  a{
    display: block;
    color: white;
    font-size: 1rem;
  }
}

@mixin header--md(){
  .overScroll40{
  }
}