  .question {
    &-title {
      & label {
        margin-left: ($padding/2);
      }
      font-size: $bigIcon;
      display: flex;
      align-items: center;
      justify-content: center;
      &-require {
        visibility: hidden;
        display: flex;
        font-size: 10px;
        align-items: center;
      }
      .visible {
        visibility: visible;
      }
      & .inputitem {
        flex: 2;
        font-size: $mediumIcon;
      }
    }
    &-act {
      display: flex;
      justify-content: flex-end;
      transition: opacity 0.5s;
      opacity: 0;
      &-item {
        width: 50px;
        padding: 5px 10px;
        &:hover {
          cursor: pointer;
          box-shadow: 1px -1px 5px rgba(255, 255, 255, 0.5);
        }
      }
    }
    &:hover {
      background: $backgroundSecondary;
      .question-act {
        opacity: 1;
      }
    }
    &-items{
      margin-left: $padding;
    }
  }