  .question {
    &-title {
      & label {
        margin-left: ($padding/2);
      }
      font-size: $mediumIcon;
      display: flex;
      align-items: center;
      position: relative;
      justify-content: flex-start;

      &-require {
        visibility: hidden;
        display: flex;
        font-size: 10px;
        align-items: center;
      }
      .visible {
        visibility: visible;
      }
      & .inputitem {
        flex: 2;
        font-size: $mediumIcon;
      }
    }
    &-act {
      display: flex;
      justify-content: flex-end;
      transition: opacity 0.5s;
      opacity: 0;
      &-item {
        width: 50px;
        padding: 5px 10px;
        &:hover {
          cursor: pointer;
          box-shadow: 1px -1px 5px rgba(255, 255, 255, 0.5);
        }
      }
    }
    &:hover {
      .question-act {
        opacity: 1;
      }
    }

    &-items{
      margin:($padding/4);
      margin-left: $padding;
      &-item{
        display: flex;
        font-size: ($padding);
        align-items: center;
        ._checkboxgroup{
          display: flex;
          flex-direction: column;
        }
        .ant-checkbox-group{
          display: flex;
          flex-direction: column;
          span{
            font-size: $mediumIcon;
          }
        }
        ._inputitem_edit {
          display: flex;
          flex: 1;
          label {
            font-size: $smallIcon;
          }
        }

      }
      &-add{
        font-size: 1.5em;
        display: inline-block;
        height: ($padding*2);
        width: ($padding*2);
        text-align: center;
         &:hover{
           background-color: $backgroundSecondary;
           //@include border($borderColor,1px);
           transform: scale(1.4);
         }
      }
    }
  }
  ._inputitem_edit{
    display: flex;
    flex: 1;
    label{
      font-size: $smallIcon;
    }
  }