.examlist {
  & .itemcontainer {
    display: flex;
    & div {
      padding: ($padding/8) ($padding/2)
    }
    &>:first-child {
      flex: 2;
    }
    &>:nth-child(2) {
      flex: 1;
      background: green;
    }
    &>:nth-child(3) {
      flex: 1;
      background: bl;
    }
    &>:last-child {
      flex: 2;
    }
  }
}