.examlist {
  & .newlist {
    min-height: 320px;
    display: flex;
    align-items: center;
    width: 100%;
    background: $backgroundContent;
    justify-content: center;
  }
  & .itemcontainer {
    display: flex;
    position: relative;
    min-height: 30px;
    & div {
      padding: ($padding/8) ($padding/2);
    }
    &:hover{
      background:$hoverBackgroundColor;
    }
    &>:first-child {
      flex: 2;
      display: flex;
      & label{
        display:block;
        width:100%;
        margin-left: $padding;
        a{
          display: block;
          color: $fontColor;
        }
      }
    }
    &>:nth-child(2) {
      flex: 1;
    }
    &>:nth-child(3) {
      flex: 1;
    }
    &>:last-child {
      flex: 2;
      display: flex;
      & button{
        flex:1;
        margin-right: ($padding/4);
      }
    }
  }
   .listtitle {
     position: relative;
     background: #ffc792;
     font-size:1.2em;
    .newlistMini {
      position: absolute;
      right: 10%;
      bottom: ($padding/6);
    }
  }
  & .listcontent {
    background: $backgroundContent;
    font-size: 1em;
    & .listitems {
      padding: ($padding/4);
      &>div {
        border-bottom: 1px solid #999;
      }
      button a{
        display: block;
        color: $fontColor;
      }
    }
    & .listbottom {
      padding: ($padding/8) ($padding*2/3);
      padding-bottom: ($padding*2);
      display: flex;
      button{
        margin-left: $padding;
        padding-left: $padding;
        padding-right: $padding;
      }
    }
  }
}