.editor {
  border: 1px solid #999;
  border-radius: 5px;
  padding: ($padding*2);
  background: $backgroundContent;
  &-title {
    text-align: center;
    position: relative;
    &-goback{
      position: absolute;
      z-index: 2;
    }
    label{
      font-size: 1.2rem!important;
      font-weight: bold;
    }
    border-bottom: $baseEm solid $borderColor;
  }
  &-questions {}
  &-addquestion {
    overflow: hidden;
    margin-top:($padding);
    display: flex;
    flex-direction: column;
    height: ($padding*6);
    @include border($borderColor,1px);
    border-radius: $baseEm;
    & div {
      text-align: center;
      justify-content: center;
      align-content: space-between;
      align-items: center;
      flex: 1;
    }
    &-items {
      background: $backgroundContent;
      display: flex;

      &>button{
        margin-right: ($padding*2);
      }
    }
    &-add {
      background: $background;
      height: 100%;
      display: flex;
      &.active {}
    }
  }
  &-bottom {
    display: flex;
    align-content: space-between;
    padding: ($padding);
    &>div {
      display: flex;
      flex: 1;
      align-content: space-between;
      justify-content: center;
      &:first-child {
        margin-right: $padding;
      }
    }

    input[type='text']{
      padding:($padding/4) ($padding);
    }

    &-left{
      align-content: center!important;
      font-size: $mediumIcon;
    }

  }
  &-answer-bottom{
    border-top:1px solid $borderColor;
    padding-top: $padding;
    margin-top: $padding;
    text-align: center;
    button{
      padding:($padding/4) ($padding*2);
    }

  }
}