@mixin fillButton($backColor, $fontColor, $fontSize) {
  background-color: $backColor;
  color: $fontColor;
  font-size: $fontSize;
}
button{
  border-radius: 5px;
  background:white;
  outline:none;
  border:1px solid #999;
  padding:($padding/6) ($padding/2);

}

button:hover{
  background:$backgroundSecondary;
  color:white;
}

.newlistLarge {
  @include fillButton($backgroundSecondary, white, 16px);
  font-size: 20px;
  padding: ($padding/4) ($padding/2)
}

.newlistMini {
  @extend .newlistLarge;
  font-size: 12px;

}

.checked{

}