@mixin fillButton($backColor, $fontColor, $fontSize) {
  background-color: $backColor;
  color: $fontColor;
  font-size: $fontSize;
}
button{
  border-radius: 5px;
  background:white;
  outline:none;
  border:1px solid #999;
  padding:($padding/6) ($padding/2);

}
button:hover{
  z-index: 99;
  box-shadow:  $solidBackgroundShadow;
  color:white;
  background:$backgroundSecondary;
  cursor: pointer;
  transform: scale(1.1);
}

.unuseable{
  text-decoration: line-through;
  color: $unuseableColor;
  pointer-events: none;
}
.newlistLarge {
  @include fillButton($backgroundSecondary, white, 16px);
  font-size: 20px;
  padding: ($padding/4) ($padding/2)

}

.newlistMini {
  @extend .newlistLarge;
  font-size: 12px;
  padding: ($padding/8) ($padding/2)

}

.checked{

}